

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
      <link rel="stylesheet" href="static/css/index.css">


</head>
<body>
 <img src="https://preview.ibb.co/g8Jj3G/paintlogo.png" alt="paintlogo" border="0" height="100" id="head-logo">

<h2 id="date"> Date </h2>

<form action="" method="post" id="input-form" name="input-form">
</form>
<button id="post-data-button">Click me!</button>
<div id="status-alert">
  <h2 id="alerter"> Waiting for you to press submit bruh..... </h2>
  <p id="thumbs-up">

  </p>
  <p id="madlib"> placeholder = BFF
  </p>
</div>

  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="/static/js/getrequest.js"></script>
  <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
</body>
</html>
